@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities'; /* This is necessary for utilities like px-4 */

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

.dark {
  --color-bg: #18181b;
  --color-text: #f8fafc;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}
